@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
  font-family: 'StarJedi';  /*https://www.dafont.com/pt/font-comment.php?file=star_jedi */
  src: URL('font/Starjedi.ttf') format('truetype');
}

body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'StarJedi', sans-serif;
  font-size: 50px;
  color: yellow;
  letter-spacing: 5px;
  text-align: center;
}

#filters-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
}

#input-value {
  width: 40px;
  margin-right: 10px;
}

select {
  margin-right: 10px;
}

select, button, input {
  font-family: 'Montserrat', sans-serif;
  padding: 5px;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  /* color: white; */
  background-color: yellow;
  font-weight: bold;
  border-radius: 5px;
}

.radio-btn {
  margin-right: 20px; 
}

td {
  border: 1px solid white;
  text-align: center;
  padding: 10px;
}

.current-filter-delete-btn {
  padding: 3px;
  margin-left: 10px;
  background-color: black;
  border: 0px;
  color: red;
  cursor: pointer;
}

.movie-list {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

table {
  width: 90%;
  margin: 0 auto;
}
